header.text-gray-700.body-font
  .container.mx-auto.flex.flex-wrap.p-5.flex-col.items-center(class='md:flex-row')
    a.flex.title-font.font-medium.items-center.text-gray-900.mb-0(href="/")
      img.ml-0.h-16(class='lg:-ml-4', src='/images/logo.png')
    nav.flex.flex-wrap.items-center.text-base.justify-center(class='md:ml-auto')
      a.mr-5(class='sm:mr-5 lg:mr-16 hover:text-gray-900', href='/#home') Home
      a.mr-5(class='sm:mr-5 lg:mr-16 hover:text-gray-900', href='/#about-us') What we do
      a.mr-5(class='sm:mr-5 lg:mr-16 hover:text-gray-900', href='/#about-us') About us
      a.mr-5(class='sm:mr-5 lg:mr-16 hover:text-gray-900', href='/#contact-us') Contact us
    a.inline-flex.items-center.bg-gray-200.border-0.py-1.px-3.rounded.text-base.mt-4(class='focus:outline-none hover:bg-gray-300 md:mt-0', href="/login")
      | Sign in
      svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
        path(d='M5 12h14M12 5l7 7-7 7')
