doctype html
html(lang='en', style='scroll-behavior: smooth;')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/index.css')
    title ReSEARCHr
  body
    include includes/header.pug
        
    section#home.text-gray-700.body-font(class="mb-2")
      .container.px-5.py-5.mx-auto.flex.flex-wrap.items-center(class='lg:py-20')
        .pr-0(class='lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0')
          h1.title-font.font-medium.text-3xl.text-gray-900(class="text-center md:text-left") Collaborate. Innovate. Create.
          p.leading-relaxed.mt-4
            |researchR is a platform that brings together students and professors from varied 
            br(class="hidden sm:block")
            |backgrounds to collaborate on research projects based on similar fields of interest.
        .bg-gray-200.rounded-lg.p-8.flex.flex-col.w-full.mt-10(class='lg:w-2/6 md:w-1/2 md:ml-auto md:mt-0')
          h2.text-gray-900.text-lg.font-medium.title-font.mb-5 Sign Up
          form(action="/", method="post" class="flex flex-col")
            input.bg-white.rounded.border.border-gray-400.text-base.px-4.py-2.mb-4(class='focus:outline-none focus:border-teal-500', placeholder='Full Name', type='text', name='name')
            input.bg-white.rounded.border.border-gray-400.text-base.px-4.py-2.mb-4(class='focus:outline-none focus:border-teal-500', placeholder='Email ID', type='email', name='email')
            div.flex.flex-row.justify-around
              button.text-white.bg-teal-500.border-0.py-2.px-8.rounded.text-lg(class='focus:outline-none hover:bg-teal-600' name="type" value="student" type='submit')
                | Student
              button.text-white.bg-teal-500.border-0.py-2.px-8.rounded.text-lg(class='focus:outline-none hover:bg-teal-600' name="type" value="professor" type='submit')
                | Professor
          p.text-xs.text-gray-500.mt-3 We promise not to send you any spam.
    section.text-gray-700.body-font
      .container.px-5.py-12.mx-auto
        .flex.flex-col.text-center.w-full.mb-20
          h1#about-us.text-2xl.font-medium.title-font.mb-4.pt-4.text-gray-900.tracking-widest OUR TEAM
          p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3')
            | We are a bunch of kids who grew up together. We wanted to be big and we're grabbing that opportunity.
        .flex.flex-wrap.flex-col.-m-4(class='lg:flex-row')
          .p-4(class='lg:w-1/2')
            .h-full.flex.flex-col.items-center.justify-center.text-center(class='sm:flex-row sm:justify-start sm:text-left')
              img.flex-shrink-0.rounded-lg.w-48.h-48.object-cover.object-center.mb-4(alt='team', class='sm:mb-0', src='images/aboutus/rahul.jpeg')
              .flex-grow(class='sm:pl-8')
                h2.title-font.font-medium.text-lg.text-gray-900 Rahul Humayun
                h3.text-gray-500.mb-3 Team Lead
                p.mb-4 Want to bring change to this world, one step at a time.
                span.inline-flex
                  a.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z')
          .p-4(class='lg:w-1/2')
            .h-full.flex.flex-col.items-center.justify-center.text-center(class='sm:flex-row sm:justify-start sm:text-left')
              img.flex-shrink-0.rounded-lg.w-48.h-48.object-cover.object-center.mb-4(alt='team', class='sm:mb-0', src='images/aboutus/adi.jpeg')
              .flex-grow(class='sm:pl-8')
                h2.title-font.font-medium.text-lg.text-gray-900 Aditya Vavre
                h3.text-gray-500.mb-3 Artificial Intelligence
                p.mb-4 AI motivates me everyday. We build AI to make our lives easier.
                span.inline-flex
                  a.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z')
          .p-4(class='lg:w-1/2')
            .h-full.flex.flex-col.items-center.justify-center.text-center(class='sm:flex-row sm:justify-start sm:text-left')
              img.flex-shrink-0.rounded-lg.w-48.h-48.object-cover.object-center.mb-4(alt='team', class='sm:mb-0', src='images/aboutus/giri.jpg')
              .flex-grow(class='sm:pl-8')
                h2.title-font.font-medium.text-lg.text-gray-900 Giridhar B
                h3.text-gray-500.mb-3 Software Engineer
                p.mb-4 Want to build this platform that will enrich every researchr's life.
                span.inline-flex
                  a.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z')
          .p-4(class='lg:w-1/2')
            .h-full.flex.flex-col.items-center.justify-center.text-center(class='sm:flex-row sm:justify-start sm:text-left')
              img.flex-shrink-0.rounded-lg.w-48.h-48.object-cover.object-center.mb-4(alt='team', class='sm:mb-0', src='images/aboutus/ashwath.jfif')
              .flex-grow(class='sm:pl-8')
                h2.title-font.font-medium.text-lg.text-gray-900 Ashwath Sajith
                h3.text-gray-500.mb-3 Finance and Coporate Relations
                p.mb-4 Clients and Relationships are what I like to maintain.
                span.inline-flex
                  a.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z')
                  a.ml-2.text-gray-500
                    svg.w-5.h-5(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                      path(d='M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z')
    section#contact-us.text-gray-700.body-font.relative
      .container.px-5.py-24.mx-auto.flex.flex-wrap(class='sm:flex-no-wrap')
        .bg-gray-300.rounded-lg.overflow-hidden.p-10.flex.items-end.justify-start.relative(class='lg:w-2/3 md:w-1/2 sm:mr-10')
          iframe.absolute.inset-0(width='100%', height='100%', frameborder='0', title='map', marginheight='0', marginwidth='0', scrolling='no', src='https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(Hari%20Balachandran%20Navins%20Claremont%20Court)&ie=UTF8&t=&z=14&iwloc=B&output=embed', style='filter: grayscale(1) contrast(1.2) opacity(0.4);')
          .bg-white.relative.flex.flex-wrap.py-6
            .px-6(class='lg:w-1/2')
              h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm ADDRESS
              p.leading-relaxed A1 T4, Navins Claremont Court, Metal Factory Road, Aminjikarai, Chennai-29
            .px-6.mt-4(class='lg:w-1/2 lg:mt-0')
              h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm EMAIL
              a.text-teal-500.leading-relaxed rahulhumayun@gmail.com
              h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mt-4 PHONE
              p.leading-relaxed (+91) 956-6201-511
        .bg-white.flex.flex-col.w-full.mt-8(class='lg:w-1/3 md:w-1/2 md:ml-auto md:py-8 md:mt-0')
          h2.text-gray-900.text-lg.mb-1.font-medium.title-font Contact Us
          p.leading-relaxed.mb-5.text-gray-600 Please enter the details below and we will reach out to you as soon as possible.
          input.bg-white.rounded.border.border-gray-400.text-base.px-4.py-2.mb-4(class='focus:outline-none focus:border-teal-500', placeholder='Name', type='text')
          input.bg-white.rounded.border.border-gray-400.text-base.px-4.py-2.mb-4(class='focus:outline-none focus:border-teal-500', placeholder='Email', type='email')
          textarea.bg-white.rounded.border.border-gray-400.h-32.text-base.px-4.py-2.mb-4.resize-none(class='focus:outline-none focus:border-teal-500', placeholder='Message')
          button.text-white.bg-teal-500.border-0.py-2.px-6.rounded.text-lg(class='focus:outline-none hover:bg-teal-600') Submit
          p.text-xs.text-gray-500.mt-3 We will not spam you, we promise.
