doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/index.css')
  title Login - researchR

body.bg-white
  include includes/header.pug
  .mb-8.flex.justify-center.px-4(class='sm:px-6 lg:px-2')
    .max-w-md.w-full
      .mb-6
        h2.mt-6.text-center.text-3xl.leading-9.font-bold.text-gray-900 Sign in to your account
        p.mt-2.text-center.text-sm.leading-5.text-gray-600
          | or 
          a.font-medium.text-teal-600.transition.ease-in-out.duration-150(class='hover:text-teal-500 focus:outline-none focus:underline' href='/signup') create an account for free!
      
      ul.flex.mb-0.list-none.flex-wrap.pt-6.pb-4.flex-row
        li.-mb-px.mr-2.flex-auto.text-center.cursor-pointer(class='last:mr-0', id="students")
          a.text-xs.font-bold.uppercase.px-5.py-3.shadow-lg.rounded.border-2.border-teal-600.block.leading-normal.text-white.bg-teal-600(onclick="changeActiveTab(event,'tab-student')")
            i.fas.fa-space-shuttle.text-base.mr-1
            |  Student
        li.-mb-px.mr-2.flex-auto.text-center.cursor-pointer(class='last:mr-0', id="professors")
          a.text-xs.font-bold.uppercase.px-5.py-3.shadow-lg.border-2.border-teal-600.rounded.block.leading-normal.text-teal-600.bg-white(onclick="changeActiveTab(event,'tab-professor')")
            i.fas.fa-cog.text-base.mr-1
            |  Professor
      .bg-white.p-1.border-gray-300.shadow-lg.border-gray-300.rounded-lg
        #tabs-id.flex.flex-wrap
          .w-full
            .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-0.rounded
              .px-4.py-2.flex-auto
                .tab-content.tab-space
                  #tab-student.block
                    form.mt-2(action='/login/student' method='POST')
                      .rounded-md
                        .mb-4
                          p.px-1.mb-1.text-sm.text-gray-600.font-semibold Email
                          input.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-lg(class='focus:outline-none focus:shadow-outline-teal focus:border-teal-500 focus:z-10 sm:text-sm sm:leading-5' aria-label='Email address' name='c_email' type='email' required='')
                        .mb-4
                          p.px-1.mb-1.text-sm.text-gray-600.font-semibold
                            | Password
                          input.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-lg(class='focus:outline-none focus:shadow-outline-teal focus:border-teal-500 focus:z-10 sm:text-sm sm:leading-5' aria-label='Password' name='password' type='password' required='')
                      .mt-6.flex.items-center.justify-between
                        .flex.items-center
                          input#remember_me.form-checkbox.h-4.w-4.text-teal-600.transition.duration-150.ease-in-out(type='checkbox' name='remember_me')
                          label.ml-2.block.text-sm.leading-5.text-gray-900(for='remember_me') Remember me
                        .text-sm.leading-5
                          a.font-medium.text-teal-600.transition.ease-in-out.duration-150(class='hover:text-teal-500 focus:outline-none focus:underline' href='/forgot/student') Forgot your password?
                      .mt-6
                        button.group.relative.w-full.flex.justify-center.py-2.px-4.border.border-transparent.text-sm.leading-5.font-medium.rounded-md.text-white.bg-teal-600.transition.duration-150.ease-in-out(class='hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700' type='submit')
                          span.absolute.left-0.inset-y-0.flex.items-center.pl-3
                            svg.h-5.w-5.text-teal-300.transition.ease-in-out.duration-150(class='group-hover:text-teal-400' fill='currentColor' viewbox='0 0 20 20')
                              path(fill-rule='evenodd' d='M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z' clip-rule='evenodd')
                          |  Sign in as Student*
                      hr.mt-6.border-gray-300
                      h1.font-bold.mt-4.text-red-500
                  #tab-professor.hidden
                    form.mt-2(action='/login/professor' method='POST')
                      .rounded-md
                        .mb-4
                          p.px-1.mb-1.text-sm.text-gray-600.font-semibold Email
                          input.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-lg(class='focus:outline-none focus:shadow-outline-teal focus:border-teal-500 focus:z-10 sm:text-sm sm:leading-5' aria-label='Email address' name='c_email' type='email' required='')
                        .mb-4
                          p.px-1.mb-1.text-sm.text-gray-600.font-semibold
                            | Password
                          input.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-lg(class='focus:outline-none focus:shadow-outline-teal focus:border-teal-500 focus:z-10 sm:text-sm sm:leading-5' aria-label='Password' name='password' type='password' required='')
                      .mt-6.flex.items-center.justify-between
                        .flex.items-center
                          input#remember_me.form-checkbox.h-4.w-4.text-teal-600.transition.duration-150.ease-in-out(type='checkbox' name='remember_me')
                          label.ml-2.block.text-sm.leading-5.text-gray-900(for='remember_me') Remember me
                        .text-sm.leading-5
                          a.font-medium.text-teal-600.transition.ease-in-out.duration-150(class='hover:text-teal-500 focus:outline-none focus:underline' href='/forgot/professor') Forgot your password?
                      .mt-6
                        button.group.relative.w-full.flex.justify-center.py-2.px-4.border.border-transparent.text-sm.leading-5.font-medium.rounded-md.text-white.bg-teal-600.transition.duration-150.ease-in-out(class='hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700' type='submit')
                          span.absolute.left-0.inset-y-0.flex.items-center.pl-3
                            svg.h-5.w-5.text-teal-300.transition.ease-in-out.duration-150(class='group-hover:text-teal-400' fill='currentColor' viewbox='0 0 20 20')
                              path(fill-rule='evenodd' d='M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z' clip-rule='evenodd')
                          |  Sign in as Professor*
                      hr.mt-6.border-gray-300
                  p.text-gray-500.font-thin.text-sm.mt-4.self-center * By clicking sign in, you are agreeing to the use of cookies
                  if wrongCreds
                    h1.font-bold.mt-4.text-red-500 Incorrect Email Address or Password
                  else if unverified
                    h1.font-bold.mt-4.text-red-500 Please verify your college email id first or Signup again
                  h1.font-bold.mt-4.text-red-500 #{errorMsg}

  script(type='text/javascript').
    function changeActiveTab(event, tabID) {
    let element = event.target;
    while (element.nodeName !== "A") {
    element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for (let i = 0; i < aElements.length; i++) {
    aElements[i].classList.remove("text-white");
    aElements[i].classList.remove("bg-teal-600");
    aElements[i].classList.add("text-teal-600");
    aElements[i].classList.add("bg-white");
    tabContents[i].classList.add("hidden");
    tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-teal-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-teal-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
    }
