doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/index.css')
        title Signup Complete - ResearchR
    body
        section
            div(class='flex flex-col text-center w-full')
                img(src='/images/complete.gif' class='mx-auto' height='120px' width='120px')
                h1(class='text-xl font-medium title-font mb-4 text-gray-900') You have successfully signed up!
                p(class='mx-auto leading-relaxed text-base') All you need to do now is to verify your account through the link that we have sent to your college email address.
                a.button.mt-4.mb-4.bg-teal-500.text-white.rounded-md.px-4.py-2(class='focus:outline-none' href='/login') Click here to go to the Login page
