<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Login - ResearchR</title>
</head>

<body>
    <div class="mb-8 flex justify-center bg-gray-100 px-4 sm:px-6 lg:px-2">
        <div class="max-w-md w-full">
            <div class="mb-6">
                <h2 class="mt-6 text-center text-3xl leading-9 font-bold text-gray-900">Sign in to your account</h2>
                <p class="mt-2 text-center text-sm leading-5 text-gray-600">or <a
                        class="font-medium text-teal-600 transition ease-in-out duration-150 hover:text-teal-500 focus:outline-none focus:underline"
                        href="/signup">create an account for free!</a></p>
            </div>
            <div class="bg-white p-4 border-gray-300 shadow-lg border-gray-300 rounded-lg">
                <div class="flex flex-wrap" id="tabs-id">
                    <div class="w-full">
                        <ul class="flex mb-0 list-none flex-wrap pt-6 pb-4 flex-row">
                            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded border-2 border-teal-600 block leading-normal text-white bg-teal-600"
                                    onclick="changeActiveTab(event,'tab-student')">
                                    <i class="fas fa-space-shuttle text-base mr-1"></i> Student
                                </a>
                            </li>
                            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg border-2 border-teal-600 rounded block leading-normal text-teal-600 bg-white"
                                    onclick="changeActiveTab(event,'tab-professor')">
                                    <i class="fas fa-cog text-base mr-1"></i> Professor
                                </a>
                            </li>
                        </ul>
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
                            <div class="px-4 py-5 flex-auto">
                                <div class="tab-content tab-space">
                                    <div class="block" id="tab-student">
                                        <form class="mt-2" action="/login/student" method="POST">
                                            <div class="rounded-md">
                                                <div class="mb-2">
                                                    <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Email</p>
                                                    <input
                                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-lg focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                        aria-label="Email address" name="c_email" type="email"
                                                        required="">
                                                </div>
                                                <div class="mb-2">
                                                    <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Password
                                                    </p>
                                                    <input
                                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-lg focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                        aria-label="Password" name="password" type="password"
                                                        required="">
                                                </div>
                                            </div>
                                            <div class="mt-6 flex items-center justify-between">
                                                <div class="flex items-center">
                                                    <input
                                                        class="form-checkbox h-4 w-4 text-teal-600 transition duration-150 ease-in-out"
                                                        id="remember_me" type="checkbox" name="remember_me">
                                                    <label class="ml-2 block text-sm leading-5 text-gray-900"
                                                        for="remember_me">Remember me</label>
                                                </div>
                                                <div class="text-sm leading-5"><a
                                                        class="font-medium text-teal-600 transition ease-in-out duration-150 hover:text-teal-500 focus:outline-none focus:underline"
                                                        href="/forgot/student">Forgot your password?</a></div>
                                            </div>
                                            <div class="mt-6">
                                                <button
                                                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 transition duration-150 ease-in-out hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700"
                                                    type="submit"><span
                                                        class="absolute left-0 inset-y-0 flex items-center pl-3">
                                                        <svg class="h-5 w-5 text-teal-300 transition ease-in-out duration-150 group-hover:text-teal-400"
                                                            fill="currentColor" viewBox="0 0 20 20">
                                                            <path fill-rule="evenodd"
                                                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                                clip-rule="evenodd"></path>
                                                        </svg></span> Sign in as Student</button>
                                            </div>
                                            <hr class="mt-6 border-gray-300">
                                            <h1 class="font-bold mt-4 text-red-500"></h1>

                                        </form>
                                    </div>
                                    <div class="hidden" id="tab-professor">

                                        <form class="mt-2" action="/login/professor" method="POST">
                                            <div class="rounded-md">
                                                <div class="mb-2">
                                                    <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Email</p>
                                                    <input
                                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-lg focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                        aria-label="Email address" name="c_email" type="email"
                                                        required="">
                                                </div>
                                                <div class="mb-2">
                                                    <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Password
                                                    </p>
                                                    <input
                                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-lg focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                        aria-label="Password" name="password" type="password"
                                                        required="">
                                                </div>
                                            </div>
                                            <div class="mt-6 flex items-center justify-between">
                                                <div class="flex items-center">
                                                    <input
                                                        class="form-checkbox h-4 w-4 text-teal-600 transition duration-150 ease-in-out"
                                                        id="remember_me" type="checkbox" name="remember_me">
                                                    <label class="ml-2 block text-sm leading-5 text-gray-900"
                                                        for="remember_me">Remember me</label>
                                                </div>
                                                <div class="text-sm leading-5"><a
                                                        class="font-medium text-teal-600 transition ease-in-out duration-150 hover:text-teal-500 focus:outline-none focus:underline"
                                                        href="/forgot/professor">Forgot your password?</a></div>
                                            </div>
                                            <div class="mt-6">
                                                <button
                                                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 transition duration-150 ease-in-out hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700"
                                                    type="submit"><span
                                                        class="absolute left-0 inset-y-0 flex items-center pl-3">
                                                        <svg class="h-5 w-5 text-teal-300 transition ease-in-out duration-150 group-hover:text-teal-400"
                                                            fill="currentColor" viewBox="0 0 20 20">
                                                            <path fill-rule="evenodd"
                                                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                                clip-rule="evenodd"></path>
                                                        </svg></span> Sign in as Professor</button>
                                            </div>
                                            <hr class="mt-6 border-gray-300">
                                            <h1 class="font-bold mt-4 text-red-500"></h1>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function changeActiveTab(event, tabID) {
        let element = event.target;
        while (element.nodeName !== "A") {
            element = element.parentNode;
        }
        ulElement = element.parentNode.parentNode;
        aElements = ulElement.querySelectorAll("li > a");
        tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
        for (let i = 0; i < aElements.length; i++) {
            aElements[i].classList.remove("text-white");
            aElements[i].classList.remove("bg-teal-600");
            aElements[i].classList.add("text-teal-600");
            aElements[i].classList.add("bg-white");
            tabContents[i].classList.add("hidden");
            tabContents[i].classList.remove("block");
        }
        element.classList.remove("text-teal-600");
        element.classList.remove("bg-white");
        element.classList.add("text-white");
        element.classList.add("bg-teal-600");
        document.getElementById(tabID).classList.remove("hidden");
        document.getElementById(tabID).classList.add("block");
    }
</script>


</html>