<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Sign Up - ResearchR</title>
</head>

<body>

    <section id="sign-up">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-5/12">

                <form action="/signup" method="POST" class="flex flex-col items-center lg:items-start lg:px-24 space-y-8 p-4">
                    <div>
                        <p class="font-extrabold text-black text-3xl mt-8">Sign Up</p>
                    </div>

                    <div class="">
                        <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Full Name</p>
                        <input
                            class="border-2 rounded-lg relative px-4 py-2 w-full focus:outline-none focus:border-teal-500"
                            type="text" name="name" required>
                    </div>
                    <div class="">
                        <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">College Email ID</p>
                        <input
                            class="border-2 rounded-lg relative px-4 py-2 w-full focus:outline-none focus:border-teal-500"
                            type="text" name="c_email" required>
                    </div>
                    <div class="">
                        <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Personal Email ID</p>
                        <input
                            class="border-2 rounded-lg relative px-4 py-2 w-full focus:outline-none focus:border-teal-500"
                            type="text" name="p_email" required>
                    </div>
                    <div class="">
                        <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">College</p>
                        <input
                            class="border-2 rounded-lg relative px-4 py-2 w-full focus:outline-none focus:border-teal-500"
                            type="text" name="college" required>
                    </div>
                    <div class="">
                        <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Branch</p>
                        <input
                            class="border-2 rounded-lg relative px-4 py-2 w-full focus:outline-none focus:border-teal-500"
                            type="text" name="branch" required>
                    </div>
                    <div class="">
                        <p class="px-1 mb-1 text-sm text-gray-600 font-semibold">Year of Graduation</p>
                        <input class="border-2 rounded-lg relative px-4 py-2 focus:outline-none focus:border-teal-500"
                            type="text" name="yog" required>
                    </div>
                    <div>
                        <button
                            class="mt-4 mb-4 lg:mr-24 focus:outline-none bg-teal-500 text-white rounded-md px-4 py-2">Sign
                            Up</button>
                    </div>
                </form>
            </div>

            <div class="w-0 lg:w-7/12">
                <img src="images/signInResearchBuilding.jpg" alt="Sign Up" class="min-h-full">
            </div>

        </div>

    </section>

</body>

</html>